.profile-info{
    background-color:hsl(246, 80%, 60%) ;
    border-radius: 15px;
    padding: 25px;
    color: white;
    height: 320px;
    width: 220px;
}
.profile-body{
     background-color:  hsl(235, 46%, 20%);
     border-radius: 15px;
     height: 560px;
     margin-left: 100px;
     margin-top: 20px;
}
.tracker{
   
    color: white;
    height: 150px;
    padding:30px;
    padding-bottom: 40px;
    position: relative;
    top: -3%;
    font-weight: 300;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    
}
.profile-name{
    font-weight: 300;
    font-size: 40px;
    width: 100px;
    margin-top: 0;
}

.pfp{
    width: 70px;
    border: 3px solid white;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 10px;
}
.report{
    color: hsla(236, 100%, 87%, 0.81);
    margin-bottom: 0;
    margin-top: 20px;
}
.track{
    font-weight: 300;
    cursor:pointer;
    color: hsla(236, 100%, 87%, 0.81);
}
.track:hover{
    
    color: white;
}

@media (max-width:870px){
    .profile-info{
        display: flex;
        gap:30px;
        width: 380px;
        height: 105px;
    }
    .profile-name{
        width: 300px;
        font-size: 35px;
    }
    .pfp{
        width: 80px;   
        height: 80px; 
        margin-left: 10px;
        
    }
    .profile-body{
        width:  430px;
        height: 230px;
        margin-left: 40px;
    }
    .tracker{
        width: 350px;
        display: flex;
        justify-content: space-between;
        margin-top: -20px;
    }
}
@media (min-width:870px)and (max-width:1057px){
    .profile-info{
        display: flex;
        gap:30px;
        width: 380px;
        height: 105px;
    }
    .profile-name{
        width: 300px;
        font-size: 35px;
    }
    .pfp{
        width: 80px;   
        height: 80px; 
        margin-left: 10px;
        
    }
    .profile-body{
        width:  430px;
        height: 230px;
        margin-left: -30px;
    }
    .tracker{
        width: 350px;
        display: flex;
        justify-content: space-between;
        margin-top: -20px;
    }
}
