@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
body{
    font-size: 18px;
    font-family: "Rubik";
    background-color: hsl(226, 43%, 10%);
}

#tracker{
    display: flex;
    flex-direction: row;
    gap: 35px;
}
.profile{
    flex-direction: column;
    display: flex;
    margin-top: 70px;

}


@media (max-width:870px){
    #tracker{
        flex-direction: column;
        display: flex;
    }
    .profile{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

@media (min-width:870px) and (max-width:1057px){
    #tracker{
        flex-direction: column;
        display: flex;
    }
    .profile{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}